{% extends "partials/base.html" %} {% block content %}
<h3>
    Degree Plans {% if flowcharts %}
    <small class="text-muted">
        ({{ flowcharts|length }} Degree Plan{{ flowcharts|length|pluralize:"s" }})
    </small> {% endif %}
</h3>

<hr> {% if flowcharts %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        {% for flowchart in flowcharts %}
        <tr>
            <td>
                <p><a href="/{{ flowchart.slug }}">{{ flowchart.name }}</a></p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-primary" role="alert">
    No flowcharts to display.
</div>
{% endif %} {% endblock %}