{% extends "partials/base.html" %} {% block content %}
<h3>
    You are looking at flowchart {{ flowchart.name }}!
</h3>
{% if flowchart.term_set.all.exists %}
<a class="btn btn-success ml-4" href="/{{ flowchart.flowchart_slug }}/create_term">Create another term!</a>
<h4>Terms</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        {% for term in flowchart.term_set.all %}
        <tr>
            <td>
                <p><a href="/{{ flowchart.flowchart_slug }}/{{ term.term_slug }}">{{ term.name }}</a></p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table> {% else %}
<a class="btn btn-success ml-4" href="/{{ flowchart.flowchart_slug }}/create_term">Create first term!</a> {% endif %} {% endblock %}